<footer id="layout-footer">
    <p>&#169; Madhav Prahlad. All Rights Reserved</p>
    <nav class="footer-nav">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
        </ul>
    </nav>
</footer>
