<header id="layout-header">
    <nav>
        <div class="header-logo">
            <p>
                <h1>
                    <a href="/">CSV Upload</a>
                </h1>
            </p>
        </div>
        <div class="header-grow"></div>
        <div class="header-links">
            <ul>
                <li>
                    <a href="/report">Report Desk</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
