<link rel="stylesheet" href="/css/home.css" />
<form action="/report/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="report" />
    <input type="submit" value="Update" />
</form>
