#layout-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
  
      input[type="file"] {
        margin-bottom: 10px;
      }
  
      input[type="submit"] {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        transition: background-color 0.3s ease;
  
        &:hover {
          background-color: #0056b3;
        }
      }
    }
  }
  